<mat-card>
  <mat-card-title>Novo Produto</mat-card-title>
  <form>
    <mat-form-field>
      <input matInput placeholder="Nome" [(ngModel)]="product.name" name="name"> <!--TODO: Adicionar validação de formulário-->
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Preço" [(ngModel)]="product.price"  name="price">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Quantidade" [(ngModel)]="product.stock"  name="stock">
    </mat-form-field>
  </form>
  <button mat-raised-button (click)="createProduct()" color="primary">
    Criar
  </button>
  
  <button mat-raised-button (click)="cancel()">
    Cancelar
  </button>
</mat-card>
