.header {
  display: flex;
  align-items: center;

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(56, 56, 56);
  }

  .logo {
    max-height: 38px;
  }

  .title-group {
    padding-left: 25px;

    i {
      padding-right: 5px;
    }
  }
}